/*  print.css
	for theme mentalhealth

	make grey-scale
	suppress navigation elements
	omit fancy formatting
*/

html {
	background-color: #fff;
}
body {
	margin: 1.5cm;
	padding: 0;
	border: 0;
    font-size: 10pt;
    font-family: Arial, sans-serif;
}
table {
	width: 99%;
}
.footnotes div {
	width: 5em;
	border-top: 1pt solid #eee;
}
pre { 
    font-size: 10pt;
	font-family: monospace, courier;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 14pt;
}
h2 {
	margin-top: 1.5em;
	padding-bottom: 0.3em;
    border-bottom: 2px solid #000;
	line-height: 1.2em;
	font-size: 14pt;
}	
h3 {
	margin-top: 1.5em;
	padding-left: 0.3em;
	border-left: 10px solid #000;
	font-size: 14pt;
}	
h4 {
	margin-top: 1.5em;
	padding-left: 0.3em;
	border-left: 3px solid #000;
	font-size: 12pt;
}	
h5, h6 {
	font-size: 12pt;
}

a.interwiki:before, a.badinterwiki:before {
	content: attr(title) ":";
}
a.interwiki img, a.badinterwiki img {
	display: none;
}


#header, #sidebar, #footer, #timings, #credits, #message {
	display: none;
}

/*
     FILE ARCHIVED ON 05:58:11 Mar 28, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:49:44 Nov 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 139.36
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.061
  cdx.remote: 0.056
  esindex: 0.008
  LoadShardBlock: 72.333 (3)
  PetaboxLoader3.datanode: 84.162 (5)
  load_resource: 120.541 (2)
  PetaboxLoader3.resolve: 103.423 (2)
*/