/*  

We don't use projection.css with our wiki. 

If you do, feel free to copy in a replacement from modernized.

*/

/*
     FILE ARCHIVED ON 05:58:11 Mar 28, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:49:44 Nov 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 70.222
  exclusion.robots: 0.138
  exclusion.robots.policy: 0.122
  cdx.remote: 0.1
  esindex: 0.014
  LoadShardBlock: 36.482 (3)
  PetaboxLoader3.datanode: 55.911 (4)
  load_resource: 71.927
  PetaboxLoader3.resolve: 28.395
*/